.author__urls i.fab.fa-github,
.page__footer-follow i.fab.fa-github,
i.fab.fa-github {
  background-color: #fff;
  color: #000 !important;
  border-radius: 4px;
  padding: 0.125em 0.2em;
  display: inline-block;
}
